@{
    ViewBag.PreviousTitle = "Welcome";
    ViewBag.Title = "Smart Center Services";
    ViewBag.Message = "offers various services for you...";
}

<h6>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home">@ViewBag.PreviousTitle</a></li>
            <li class="breadcrumb-item">@ViewBag.Title</li>
        </ol>
    </nav>
</h6>

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Title division @ViewBag.Message</p>

<div class="card mb-3">
    <img src="~/Images/Singapore1.png" class="card-img-top" alt="Singapore1">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
</div>

<div class="card mb-3">
    <img src="~/Images/Singapore2.png" class="card-img-top" alt="Singapore1">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
</div>

<div class="card mb-3">
    <img src="~/Images/Singapore3.png" class="card-img-top" alt="Singapore1">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
</div>

<div class="card mb-3">
    <img src="~/Images/Singapore4.png" class="card-img-top" alt="Singapore1">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
</div>

<div class="card mb-3">
    <img src="~/Images/Singapore5.png" class="card-img-top" alt="Singapore1">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
</div>